body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.App {
  text-align: center
}

.App-logo {
  -webkit-animation: App-logo-spin 20s linear infinite;
  animation: App-logo-spin 20s linear infinite;
  height: 40vmin
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff
}

.App-link {
  color: #61dafb
}

@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.sm-bundle-preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 12px
}

.sm-bundle-preview-card-container {
  padding: 5px 5px 5px 0
}

.sm-bundle-preview-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.sm-bundle-preview-reset-bundle-icon {
  padding: 5px
}

.sm-bundle-preview-reset-bundle-text {
  text-decoration: underline;
  cursor: pointer
}

.sm-bundle-preview-reset-bundle-container {
  padding: .4rem 10px
}

.sm-bundle-preview-item-container {
  position: relative
}

.sm-bundle-preview-item-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100
}

.sm-bundle-preview-disable-bundle-container {
  padding: 0 10px
}

.sm-bundle-preview-thumbnail-container {
  display: flex;
  flex-direction: row;
  padding: 0 5px 5px
}

.sm-bundle-preview-thumbnail-container .Polaris-Thumbnail--sizeLarge {
  width: 14rem;
  padding: 5px
}

.sm-bundle-preview-thumbnail-container .Polaris-Thumbnail__Image {
  padding: 5px
}

.sm-bundle-preview-item-name {
  padding-left: 5px;
  width: 12rem;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.sm-bundle-product-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  border-top: 1px solid #dfe4e8
}

.product-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center
}

.product-list-radio-button {
  margin-left: 1.5rem
}

.product-list-radio-button .Polaris-Choice__Control {
  margin-right: 0
}

.product-list-item-container .Polaris-ResourceList-Item {
  cursor: auto
}

.product-list-item-container .Polaris-ResourceList-Item:hover {
  background-image: none
}

.sm-bundle-customize-bundle-filter .Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer {
  display: none
}

@media (min-width: 46.5em) {
  .Polaris-EmptyState__Image {
    margin-top:0;
    margin-left: 0;
    width: 100%
  }
}

@media (min-width: 30.625em) {
  .Polaris-EmptyState__Image {
    margin-top:2rem
  }
}

.Polaris-EmptyState__Image {
  position: relative;
  z-index: 0;
  margin-top: 2rem;
  margin-left: 0;
  width: 100%;
  max-width: none
}

/*# sourceMappingURL=main.29b7526b.chunk.css.map */

.Polaris-Card {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15)
}

.Polaris-Card+.Polaris-Card {
  margin-top: 2rem
}

@media (max-width: 48.0625em) and (min-width:30.625em),(min-width:45.625em) {
  [data-has-navigation] .Polaris-Card {
    border-radius:3px
  }
}

@media (min-width: 30.625em) {
  .Polaris-Card {
    border-radius:3px
  }
}

@media (-ms-high-contrast:active) {
  .Polaris-Card {
    box-shadow: inset 0 0 0 .1rem windowText
  }
}

.Polaris-Card--subdued {
  background-color: #f9fafb
}

.Polaris-Card__Header {
  padding: 1.6rem 1.6rem 0
}

@media (max-width: 48.0625em) and (min-width:30.625em),(min-width:45.625em) {
  [data-has-navigation] .Polaris-Card__Header {
    padding:2rem 2rem 0
  }
}

@media (min-width: 30.625em) {
  .Polaris-Card__Header {
    padding:2rem 2rem 0
  }
}

.Polaris-Card__Section {
  padding: 1.6rem
}

@media (max-width: 48.0625em) and (min-width:30.625em),(min-width:45.625em) {
  [data-has-navigation] .Polaris-Card__Section {
    padding:2rem
  }
}

@media (min-width: 30.625em) {
  .Polaris-Card__Section {
    padding:2rem
  }
}

.Polaris-Card__Section+.Polaris-Card__Section {
  border-top: .1rem solid #dfe3e8
}

.Polaris-Card__Section--fullWidth {
  padding: 2rem 0
}

.Polaris-Card__Section--subdued {
  background-color: #f9fafb
}

@media (-ms-high-contrast:active) {
  .Polaris-Card__Section--subdued {
    background-color: initial
  }
}

.Polaris-Card__Header+.Polaris-Card__Section--subdued {
  border-top: .1rem solid #dfe3e8;
  margin-top: 2rem
}

.Polaris-Card__SectionHeader {
  padding-bottom: .8rem
}

.Polaris-Card__Section--fullWidth .Polaris-Card__SectionHeader {
  padding-left: 1.6rem;
  padding-right: 1.6rem
}

@media (max-width: 48.0625em) and (min-width:30.625em),(min-width:45.625em) {
  [data-has-navigation] .Polaris-Card__Section--fullWidth .Polaris-Card__SectionHeader {
    padding-left:2rem;
    padding-right: 2rem
  }
}

@media (min-width: 30.625em) {
  .Polaris-Card__Section--fullWidth .Polaris-Card__SectionHeader {
    padding-left:2rem;
    padding-right: 2rem
  }
}

.Polaris-Card__Subsection+.Polaris-Card__Subsection {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: .1rem solid #dfe3e8
}

.Polaris-Card__Footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.6rem 1.6rem
}

@media (max-width: 48.0625em) and (min-width:30.625em),(min-width:45.625em) {
  [data-has-navigation] .Polaris-Card__Footer {
    padding:0 2rem 2rem
  }
}

@media (min-width: 30.625em) {
  .Polaris-Card__Footer {
    padding:0 2rem 2rem
  }
}

.Polaris-Card__Section--subdued+.Polaris-Card__Footer {
  border-top: .1rem solid #dfe3e8;
  padding: 2rem
}